/* Typography */
@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: poppins-med;
    src: url(../fonts/Poppins-Medium.ttf);
}

/* Reset */
* {
    box-sizing: border-box;
}
html {
    font-family: poppins, sans-serif;
    font-size: 1.125rem;
    color: #ffffff;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: #22252c;
    padding: 0 1rem;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a, a:visited, a:link {
    text-decoration: none;
    color: inherit;
}
h3 {
    margin: 0;
    padding: 0;
}
input {
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    border: none;
    color: inherit;
}
input:focus {
    outline: none;
}
[type="color"] {
    display: none;
}
button {
    border: none;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    cursor: pointer;
}
button:focus {
    outline: none;
}

/* Layout */
.container {
    padding: 0 10px;
}
.flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.space-evenly {
    justify-content: space-evenly;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.main-grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(250px, auto));
    grid-auto-flow: dense;
}
.main-grid img {
    width: 100%;
}

/* Components */
.header {
    font-family: poppins-med ,sans-serif;
    background-color: #5970c1;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    border-radius: 100px;
    padding: 1.875rem 3rem;
    margin: 1rem 0;
    position: relative;
    z-index: 9;
}
.header .logo {
    height: 1.5rem;
}
.header .nav {
    position: absolute;
    width: 100%;
    top: 6rem;
    left: 0;
    flex-direction: column;
    background-color: #22252c;
    border-radius: 3px;    
    margin-block-start: 3px;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    transition: all .6s linear;
}
.header .nav.open {
    transform: scaleY(1);
    opacity: 1;
}
.header .nav li {
    padding: 1rem 0;
}
.header .nav-link {
    transition: all .3s;
    border-radius: 100px;
    padding: .625rem 1.25rem;
}
.header .nav-link.active {
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    background-color: #fefefe;
    color: #21ac91;
}
.header .nav-link:hover {
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    background-color: #fefefe;
    color: #21ac91;
}
.header .nav-link:active {
    box-shadow: none;
}
.mobile-menu {
    font-size: 1.5em;
    display: inline-block;
    transform: rotateZ(90deg);
    cursor: pointer;
}
.mobile-menu::before, .mobile-menu::after {
    content: '|';
    display: inline-block;
    transition: transform .4s;
}
.mobile-menu::before {
    margin-inline-end: 2px;
}
.mobile-menu::after {
    margin-inline-start: 2px;
}
.nav.open+.mobile-menu {
    color: #33be6d;
}
.nav.open+.mobile-menu::before {
    color: #ffffff;
    transform: rotateZ(315deg) translate(-2px, 12px);
}

.nav.open+.mobile-menu::after {
    color: #ffffff;
    transform: rotateZ(-315deg) translate(0px, 13px);
}
.gallery-header {
    padding: 1.5rem 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
.gallery-header [type="file"] {
    display: none;
}
.gallery-header .upload>img {
    width: 3rem;
    cursor: pointer;
}
.gallery.hide {
    display: none;
}
.keys-container {
    flex-direction: row;
    flex-basis: 50%;
}
.main-container {
    border-radius: 10px;
    background-color: #383b42;
}
.main-container .search {
    flex-basis: 50%;
    background-color: #22252c;
    border-radius: 30px;
    opacity: 0.38;
    color: #fefefe;
    padding: 1rem 3.125rem;
    border-radius: 100px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: 95%;
    padding-inline-end: 5%;
    margin-block-end: 1rem;
}
body.rtl .main-container .search {
    background-position: 5%;
}
.main-container .keys {
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, .15);
    border-radius: 100px;
    background-color: rgba(254, 254, 254, 0.4);
    color: #fefefe;
    padding: .625rem 2.5rem;
}
.keys {
    flex-grow: .8;
}
.keys .keyword {
    display: inline-block;
    cursor: pointer;
}
.keyword::selection {
    color: none;
}
.keys .keyword:not(:last-child) {
    margin-inline-end: 3%;
    cursor: pointer;
}
.main-container button {
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 100px;
    background-color: #fefefe;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);;
    padding: .625rem 1.25rem;
    color: #fefefe;
}
.gallery {
    padding-block-end: 30px;
}
.gallery img {
    cursor: pointer;
    transition: all .4s linear;
    outline: 8px solid transparent;
}
.gallery img:hover {
    transform: scale(1.1) rotateZ(5deg);
    outline-color: #0c98b9;
    outline-offset: 10px;
}
.modal-container {
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    background-color: #22252c;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, .8);
    flex-direction: column;
    padding-block-start: 0;
    padding-block-end: 2rem;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    transition: transform .8s linear, opacity .8s linear;
}
.modal-container.open {
    transform: scaleY(1);
    opacity: 1;
}
.controls-panel {
  min-height: 500px;
}
.close-modal {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    left: 2rem;
    top: 0.5rem;
    font-size: 2rem;
}
#memeCanvas {
    margin-block-start: 3rem;
    border: 2px solid rgba(255, 255, 255, 0.4);
    cursor: grab;
}
.controls-panel {
    border-radius: 30px;
    max-width: 100%;
    background-color: rgba(235, 238, 243, 0.11);
    flex-grow: 1;
    margin: 0;
    flex-direction: column;
    padding: 1rem;
    font-family: poppins-med, sans-serif;
    font-size: 1.5rem;
    justify-content: space-evenly;
    color: #22252c;
}
.controls-panel .txt {
    border-radius: 100px;
    background-color: #ebeef3;
    color: #3d3d3d;
    text-transform: uppercase;
    padding: .75rem 5.25rem;
    font-size: .5em;
}
.controls-panel .txt:focus {
    box-shadow: inset 10px 5px 20px rgba(0, 0, 0, .15);
}
.emojis-container {
    align-self: center;
    background-color: #ebeef3;
    border-radius: 100px;
    padding: .5rem 2rem;
    width: 50%;
    overflow-x: auto;
    white-space: nowrap;
}
.emojis-container>* {
    display: inline-block;
    cursor: pointer;
}
.emojis-container>*:not(:first-child) {
    margin-inline-start: .5rem;
}
.popup {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    background-color: #fefefe;
    border-radius: 3px;
    color: #22252c;
    padding: 1rem 2rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s;
}
.popup.active {
    opacity: 1;
    visibility: visible;
}
.popup h3 {
    text-transform: uppercase;
}
.popup span {
    position: absolute;
    top: 0;
    left: 5px;
    display: inline-block;
    cursor: pointer;	
}
.footer {
    padding: 4rem 0;
}
.footer .card {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;  
    background-image: linear-gradient(105deg, whitesmoke 0%, whitesmoke 30%, #0c98b9 30%, #33be6d 100%);
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, .8);
    color: #22252c;
    align-items: center;
    padding: 2rem 2rem 4rem 2rem;
}
.footer img {
    border-radius: 50%;
    width: 12rem;
    float: left;
    shape-outside: circle();
    margin-inline-end: 2rem;
}
.footer .card p {
    margin: 0;
}
.footer .card img {
    margin-block-end: 2rem;
}

/* Helpers */
.rtl {
    direction: rtl;
}
.icon {
    width: 3.75rem;
    border-radius: 10px;
    padding: .75rem .625rem;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    user-select: none;
}
.icon img {
    height: 1.5rem;
}
.save-icon {
    height: 1.5rem;
}
.icon:not(:last-of-type) {
    margin-inline-end: 1rem;
}
label.icon {
    margin-inline-start: 1rem;
}
.icon.txt-control {
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-color: #ffffff;
}
.icon.move {
    box-shadow: 1px 5px 0 #d5c455, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-color: #fddb3a;
    background-image: linear-gradient(-38deg, #f6f4e6 0%, #ede59a 50%, #d5c455 100%);
}
.icon.switch {
    box-shadow: 1px 5px 0 #048b97, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
}
.icon.plus {
    box-shadow: 1px 5px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
}
.icon.trash {
    box-shadow: 1px 5px 0 #8c0606, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #cf1d37 0%, #cf1d37 1%, #f05036 100%);
}
.icon.stroke {
    text-decoration: underline;
}
select.icon {
    width: unset;
    margin-inline-end: 1rem;
}
.icon:active {
    box-shadow: none;
    transform: translateY(5px);
}
.btn-file {
    border-radius: 10px;
    padding: .25rem .125rem;
    font-size: .75em;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    color: #ffffff;
}
.btn-file.save {
    box-shadow: 1px 5px 0 #1e4e7b, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-color: #1e7cd3;
}
.btn-file.download {
    box-shadow: 1px 5px 0 #5c3871, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-color: #8f44bb;
}
.btn-file.share {
    box-shadow: 1px 5px 0 #8e4629, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-color: #f05e23;
}
.btn-file:active {
    box-shadow: none;
    transform: translateY(5px);
}
.lang {
    position: relative;
    top: 41px;
    right: 8rem;
}
body.rtl .lang {
    right: unset;
    left: 8rem;
}
.lang [type="radio"] {
    display: none;
}
.lang label:first-of-type {
    margin-inline-end: 5px;
}
.lang label {
    text-decoration: underline;
    cursor: pointer;
}
.hide {
    display: none;
}

/* Media Queries */
@media only screen and (min-width: 980px) {
    .container {
        padding: 0 2rem;
    }
    .gallery-header {
        flex-direction: row;
    }
    .main-container .search {
        margin-block-end: 0;
    }
    .modal-container {
      flex-direction: row;
      align-items: stretch;
      min-height: 85%;
      padding-block-start: 2rem;
      padding-block-end: 0;
      box-shadow: none;
    }
    .canvas-container, .controls-panel {
        min-height: none;
      }
    .mobile-menu {
        display: none;
    }
    .header {
        padding: 1.875rem 5rem;
    }
    .header .nav {
        position: static;
        width: 50%;
        flex-direction: row;
        background-color: transparent;
        border-radius: none;
        margin-block-start: 0;
        transform: scaleY(1);
        opacity: 1;
    }
    .header .nav li {
        padding: 0;
    }
    .close-modal {
        top: 1.5rem;
    }
    .controls-panel {
        margin: 0 .5rem;
        max-width: 750px;
    }
    .controls-panel .txt {
        font-size: 1em;
    }
    .btn-file {
        padding: .75rem .625rem;
        font-size: inherit;
    }
    .footer .card {
        display: block;
    }
    .footer .card img {
        margin-block-end: 0;
        filter: blur(5px) grayscale(1);
        transition: filter .4s;
    }
    .footer .card:hover img {
        filter: blur(0) grayscale(0);
    }
    .footer .card h3 {
        display: inline-block;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .4s;
    }
    .footer .card:hover h3 {
        transform: scaleX(1);
    }
}