/* Fonts */

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: poppinsmed;
    src: url(../fonts/Poppins-Medium.ttf.ttf);
}

/* Reset */

* {
    box-sizing: border-box;
}

html {
    font-family: poppins, sans-serif;
    font-size: 1.125rem;
    color: #ffffff;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #22252c;
    padding: 0 1rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a, a:visited, a:link {
    text-decoration: none;
    color: inherit;
}

input {
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    border: none;
    color: inherit;
}

input:focus {
    outline: none;
}

[type="color"] {
    display: none;
}

button {
    border: none;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    cursor: pointer;
}

button:focus {
    outline: none;
}


/* Layout */

.container {
    padding: 0 10px;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.main-grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(250px, auto));
    grid-auto-flow: dense;
}

.main-grid img {
    width: 100%;
}

/* Components */

.header {
    font-family: poppins-med, sans-serif;
    background-color: #5970c1;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    border-radius: 100px;
    padding: 1.875rem 3rem;
    margin: 1rem 0;
    position: relative;
    z-index: 9;
}

.header .logo {
    height: 1.5rem;
}
.header .nav {
    position: absolute;
    width: 100%;
    top: 6rem;
    left: 0;
    flex-direction: column;
    background-color: #22252c;
    border-radius: 100px;    
    margin-block-start: 3px;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    transition: all .6s linear;
}
.header .nav.open {
    transform: scaleY(1);
    opacity: 1;
}
.header .nav li {
    padding: 1rem 0;
}
.header .nav-link {
    transition: all .3s;
    border-radius: 100px;
    padding: .625rem 1.25rem;
}
.header .nav-link:hover {
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    background-color: #fefefe;
    color: #21ac91;
}
.header .nav-link:active {
    box-shadow: none;
}
.header .nav-link.active {
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    background-color: #fefefe;
    color: #21ac91;
}
.mobile-menu {
    font-size: 1.5em;
    display: inline-block;
    transform: rotateZ(90deg);
    cursor: pointer;
}
.mobile-menu::before, .mobile-menu::after {
    content: '|';
    display: inline-block;
    transition: transform .4s;
}
.mobile-menu::before {
    margin-inline-end: 2px;
}
.mobile-menu::after {
    margin-inline-start: 2px;
}
.nav.open+.mobile-menu {
    color: #33be6d;
}
.nav.open+.mobile-menu::before {
    color: #ffffff;
    transform: rotateZ(315deg) translate(-2px, 12px);
}

.nav.open+.mobile-menu::after {
    color: #ffffff;
    transform: rotateZ(-315deg) translate(0px, 13px);
}

.main-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, auto));
    grid-gap: 30px;
    min-height: 700px;
}
.meme {
    width: 100%;
    cursor: pointer;
}
.cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s linear;
}
.cover.active {
    opacity: 1;
    visibility: visible;
}
.cover img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer {
    padding: 4rem 0;
}
.footer .card {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;  
    background-image: linear-gradient(105deg, whitesmoke 0%, whitesmoke 30%, #0c98b9 30%, #33be6d 100%);
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, .8);
    color: #22252c;
    align-items: center;
    padding: 2rem 2rem 4rem 2rem;
}
.footer img {
    border-radius: 50%;
    width: 12rem;
    float: left;
    shape-outside: circle();
    margin-inline-end: 2rem;
}
.footer .card p {
    margin: 0;
}
.footer .card img {
    margin-block-end: 2rem;
}

/* Helpers */
.lang {
    position: relative;
    top: 41px;
    right: 8rem;
}
body.rtl .lang {
    right: unset;
    left: 8rem;
}
.lang [type="radio"] {
    display: none;
}
.lang label:first-of-type {
    margin-inline-end: 5px;
}
.lang label {
    text-decoration: underline;
    cursor: pointer;
}

/* Media Queries */
@media only screen and (min-width: 980px) {
    .container {
        padding: 0 2rem;
    }
    .mobile-menu {
        display: none;
    }
    .header {
        padding: 1.875rem 5rem;
    }
    .header .nav {
        position: static;
        width: 50%;
        flex-direction: row;
        background-color: transparent;
        border-radius: none;
        margin-block-start: 0;
        transform: scaleY(1);
        opacity: 1;
    }
    .header .nav li {
        padding: 0;
    }
    .footer .card {
        display: block;
    } 
    .footer .card img {
        margin-block-end: 0;
        filter: blur(5px) grayscale(1);
        transition: filter .4s;
    }
    .footer .card:hover img {
        filter: blur(0) grayscale(0);
    }
    .footer .card h3 {
        display: inline-block;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .4s;
    }
    .footer .card:hover h3 {
        transform: scaleX(1);
    }
}